registry=https://neverfail.jfrog.io/artifactory/api/npm/example-customer/
always-auth=true
_authToken=${NFCC_NPM_TOKEN}

@devsupply:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:always-auth=true
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
