@nfcc-functions:registry=https://neverfail.jfrog.io/artifactory/api/npm/example-customer/
@devsupply:registry=https://neverfail.jfrog.io/artifactory/api/npm/example-customer/
//neverfail.jfrog.io/artifactory/api/npm/example-customer/:always-auth=true
//neverfail.jfrog.io/artifactory/api/npm/example-customer/:_authToken=${NFCC_NPM_TOKEN}
